<div class="mx-auto max-w-md">
  <h2 class="text-2xl mb-4">Añadir</h2>

  <form [formGroup]="formulario" (ngSubmit)="saveUser()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div style="display: flex; align-items: self-start;">
      <div>
        <div class="mb-4">
          <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Titulo</label>
          <input id="title" type="text" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="title" required>
        </div>
        <div class="mb-4">
          <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
          <input id="description" type="text" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="description" required>
        </div>
      </div>
      <div>
        <div class="mb-4">
          <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Imagen</label>
          <input id="image" type="text" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="image" required>
        </div>
        <div class="mb-4">
          <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Precio</label>
          <input id="price" type="number" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="price" required>
        </div>
    
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar</button>
      </div>
    </div>
  </form>
</div>
