<mat-tab-group>
  <mat-tab label="Base de Datos"> 
    <div class="text-4xl flex justify-center my-4 sombra"> Api Express</div>

<div class="overflow-x-auto">
  <table  class="table-auto w-full border-collapse sombra" >
    <thead>
      <tr>
        <th class="px-4 py-2 bg-gray-200 text-left">ID</th>
        <th class="px-4 py-2 bg-gray-200 text-left">Titulo</th>
        <th class="px-4 py-2 bg-gray-200 text-left">Descripcion</th>
        <!-- <th class="px-4 py-2 bg-gray-200 text-left">Categoria</th> -->
        <th class="px-4 py-2 bg-gray-200 text-left">Imagen</th>
        <th class="px-4 py-2 bg-gray-200 text-left">Precio</th>
        <th class="px-4 py-2 bg-gray-200 text-right">Acciones</th>
        <th class="px-4 py-2 bg-gray-200 text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }" class="border-b hover:bg-gray-100">
        <td class="px-4 py-2">{{user.id}}</td>
        <td class="px-4 py-2">{{ user.title }}</td>
        <td class="px-4 py-2">{{ user.description }}</td>
        <!-- <td class="px-4 py-2">{{ user.category.name }}</td> -->
        <td class="px-4 py-2">
          <img [src]="user.images" alt="Imagen" class="h-15 w-10 object-cover rounded">
        </td>
        <td class="px-4 py-2">{{ user.price }}</td>
        <td class="px-4 py-2">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded sombra sombra-b" (click)="deleteUser(user.id)">Eliminar</button>
        </td>
        <td class="px-4 py-2">
          <button (click)="twoToElement(user)" href="#dir" class="bg-slate-500 hover:bg-zinc-700 text-white font-bold py-2 px-4 rounded sombra sombra-b" >Editar</button> 
          <!--   -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex justify-around text-xl sombra">
  <pagination-controls (pageChange)="p = $event" 
                       previousLabel="Anterior"
                       nextLabel="Siguiente" 
                       screenReaderPageLabel="page"
                       class="flex justify-center my-4 pt-4"
  ></pagination-controls>
  <br>
  (ID: {{ users?.length }} elements)
</div>
  </mat-tab>
  <mat-tab label="Informacion"  id="dir">
    <div class="flex justify-around mt-4">
      <app-actualizar *ngIf="body!= null" [body]="body"></app-actualizar>
      <app-editar></app-editar> 
    </div>
  </mat-tab>
</mat-tab-group>
